* text=auto eol=lf
src/**/*.xml text eol=lf
src/**/*.mdo text eol=lf
ext/**/*.xml text eol=lf
ext/**/*.mdo text eol=lf
*.ps1 text eol=crlf
*.dt binary
*.cf binary
*.cfe binary
*.epf binary
*.erf binary
